<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>RInfo Service</display-name>

    <context-param>
        <param-name>org.restlet.component</param-name>
        <param-value>se.lagrummet.rinfo.integration.triplestores.ServiceComponent</param-value>
    </context-param>

    <servlet>
        <servlet-name>RestServlet</servlet-name> 
        <servlet-class>com.noelios.restlet.ext.servlet.ServerServlet</servlet-class>
        <!-- NOTE: The enumeration of initParameters of the Servlet will be
             copied to the "context.parameters" property of the application.
        -->
    </servlet>

    <servlet-mapping>
        <servlet-name>RestServlet</servlet-name> 
        <url-pattern>/*</url-pattern> 
    </servlet-mapping>

</web-app>
