/* Dölj delar i utskrifter */
div#navigation, 
div#header,
.auraltext
{
	display:none;
}

/* Grundstilar */
address {
	font-style:normal;
}
h1, h2, h3, h4
{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
h1 
{
    margin: 0 0 0.4em 0;
    
	font-size:200%;
	font-weight: normal;
}
h2 
{
    margin-bottom:0.2em;
    
	font-size:140%;
	font-weight:normal;
}
h3
{
    margin-bottom:0.2em;
    
	font-size:110%;
	font-weight:bold;
}
p
{
	margin: 0 0 1em 0;
}
blockquote 
{
    font-style:italic;
    
	margin: 0 20px 0.5em 20px;
}
img 
{
	border:none;
}
#footer 
{
	margin-top: 2em;
	page-break-before:avoid;
}
.left 
{
    float:left;
}
.right 
{
    float:right;
}
img.right 
{
    float:right;
    margin: 0 0 1em 1em;
}
img.left 
{
    float:left;
    margin: 0 1em 1em 0;
}
div.clearer 
{
    clear:both;  
    height: 0;
    line-height: 0%;
}
.alt
{
    background-color: #eee;
}
div#content, div#contentstartpage {
	width: auto !important;
	width: 64%;
}
div#content ul, div#content ol
{
	margin: 0.3em 0 1em 20px;
	padding: 0 0 0 20px;
}
div#content ul li, div#content ol li
{
	margin-bottom: 0.3em;
}
div#content a 
{
	font-weight:normal;
}
p.intro 
{
    font-weight: bold;
}

/* Nyhetslista startsida */
div.newslistcompact div.newsitem h2 a
{
    text-decoration:none;
    color: #000;
}
/*
	Alfabetisk lista
*/
div#content ul#alphalist
{
	margin: 0 0 0.5em 0;
	padding:0;
}
div#content ul#alphalist li
{
	margin: 0 0.2em 0 0;
	padding:0;
	display:inline;
}
div#content ul#alphalist li a
{
	margin:0;
	padding:0;	
	font-weight: bold;
}
