/*
    Stilmall f�r sk�rm

    Stillklasser �r definierade med layoutinformation f�rst.

    viktiga f�rger:
    Gr� bakgrund        #d6d6d6
    Gr� plattor         #f5f5f5
    L�nkf�rg            #01819a
    Menyposter          #87395f
    Menytext            #666
    Text                #4a4a4a
    Tonad rubrikplatta  #2f6f86
*/
/*
    Grundstilar
*/
body {
	text-align:center;
	
	color: #4a4a4a;
	font-family: Verdana, Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size:80%;
	background-color: #d6d6d6;
}
html {
	height:100%;
} 
.auraltext {
	position: absolute;
	left: -900px;
	overflow: hidden;
	
	width: 0;
	font-size:1px;
	color:#fff;
}
br, hr {
	clear:both;
}
img {
	border:0;		
}
address {
	font-style:normal;
}
h1, h2, h3, h4
{
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
h1 
{
    margin: 0 0 0.4em 0;
    
	font-size:180%;
	font-weight: normal;
}
h2 
{
    margin-bottom:0.2em;
    
	font-size:140%;
	font-weight:bold;
}
h3
{
    margin-bottom:0.2em;
    
	font-size:110%;
	font-weight:bold;
}
p
{
	margin: 0 0 1em 0;
}
blockquote 
{
    font-style:italic;    
	margin: 0 20px 0.5em 20px;
}
a
{
	color: #01819a;	
}
/* L�nkade rubriker f�r t ex listningar av nyheter b�r se ut som vanliga rubriker */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited
{
    color:#01819a;
    text-decoration:none;
}
.skip 
{
    float: right;
    margin: 3px;
    
    color: #ccc;
}
.left 
{
    float:left;
}
.right 
{
    float:right;
}
img.right 
{
    float:right;
    margin: 0 0 1em 1em;
}
img.left 
{
    float:left;
    margin: 0 1em 1em 0;
}
div.clearer 
{
    clear:both;  
    height: 0;
    line-height: 0%;
}
.divider 
{
    height: 15px;
    min-height:15px;
    margin: 0 10px 0 0;
    background-image: url(../img/page_topborder.gif);
	background-position: left top;
	background-repeat: repeat-x;
}
hr.clearer 
{
    clear:both;
	left: -900px;
	
	width: 0;
	font-size:1px;
	color:#fff;
}


/* Generell klass som anv�nds f�r alla alternerande rader i tabeller, listor mm. */
.alt
{
    background-color: #f5f5f5;
}
/* Grundklass som anv�nds f�r alla panelomr�den. */
.panel 
{
    background-color: #f5f5f5;
    padding: 10px 15px;
    margin: 0 10px 0 0;
}
.panel h2 
{
    font-size: 120%;
    margin: 0.5em 0 0.3em 0;
}
.panel p 
{
    margin: 0 0 0.5em 0;
}

/*
    Layoutregioner
*/
div#container {
	text-align:left;
	margin:auto;
	max-width:1010px;
	min-width:700px;
	min-height:470px;
	
	background-image: url(../img/bg_top_left.gif);
	background-position: left top;
	background-repeat: no-repeat;
}
div#header {
	padding: 10px 0 10px 0;
	margin: 0 0 0 10px;
	min-height:70px;
	
	background-color:#fff;
	background-image: url(../img/bg_top_right.gif);
	background-position: right top;
	background-repeat: no-repeat;
}
div#headercontent 
{
	background-image: url(../img/top_shade.gif);
	background-position: left top;
	background-repeat: repeat-x;
	margin: 0 10px 0 0;    
}

div#navigation {
	float:left;
	width:24%;
	margin: 0 0 2em 0;
	padding:0;
}
div#content, div#contentstartpage {
	float:left;
	padding: 0 0 0 1%;
	width:49%;
	min-height:450px;
}
div#pageleft 
{
    background-image: url(../img/bg_left.gif);
	background-position: left top;
	background-repeat: repeat-y;
	padding: 0 0 0 10px;
	margin:0;
	min-height:400px;
}
div#pageright 
{
    background-image: url(../img/bg_right.gif);
	background-position: right top;
	background-repeat: repeat-y;
	padding: 0 10px 0 0;
	margin:0;
}  
div#related 
{
	float:right;
	width:24%;
}
div#footer
{
    clear: both;
    margin: 0 0 0 0;
    padding: 0 0 0 10px;
    
    background-image: url(../img/bg_bottom_left.gif);
	background-position: left bottom;
	background-repeat: no-repeat; 
}
div#footercontent
{
    margin: 0 0 1em 0;
    padding: 0 10px 10px 0;
    
    background-image: url(../img/bg_bottom_right.gif);
	background-position: right bottom;
	background-repeat: no-repeat;    
}
div#content p.pagemeta
{
    border-top: solid 1px #ccc;
    margin: 3em 0 0 0;
    padding: 1em 0 0 0;
    font-family: Verdana;
}

/*
    Sidfot
*/
div#footercontent div.contact 
{
    padding: 35px 20px 2em 20px;
    background-image: url(../img/page_topborder.gif);
	background-position: 0 20px;
	background-repeat: repeat-x;     
}
div#footercontent div.contact p.left
{
    float:left;
    width:45%;
}
div#footercontent div.contact p.right
{
    float:right;
    text-align:right;
    width:45%;
}
div#footercontent a
{
    text-decoration:none;
    font-weight:bold;    
    color: #01819a;
}
/*
    Sidhuvud
*/
dif#header a.logo
{
    float:left;

}
div#header img
{
    margin: 30px 0 0px 10px;
}

ul#quicknav {
	margin: 44px 0 0 0;
	padding:0;
	float:right;
}
ul#quicknav li {
	float:left;
	list-style-type:none;	
	padding:0;
	margin:0;
}
ul#quicknav li a
{
    padding: 0 15px 0 13px;
    
    text-decoration:none;
    color: #01819a;
    background-image: url(../img/topmenu_bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 0.4em;
}
ul#quicknav li a:visited
{
    color:#01819a;
}
ul#quicknav li a:hover
{
    text-decoration:underline;
    background-image: url(../img/topmenu_bullet.gif);
}

/*
    Meny
*/
p.menuintro 
{
    font-weight:bold;
    color:#fff;
    background-image: url(../img/title_bg.gif);
	background-repeat: repeat-x;
	background-position: top left;
	background-color:#87395f;
	padding: 0.3em 0.5em 0.5em 0.5em;
	margin:0 10px 2px 10px;
	font-family: Trebuchet MS, Verdana, Arial;
	font-size: 115%;
}
ul#mainmenu {
	margin:0 10px 0 10px;
	padding:0 0 10px 0;
	background-color: #f5f5f5;
}
ul#mainmenu li, ul#mainmenu li ul.submenu li {
	list-style-type:none;
    padding:0;
    margin:0;
}
ul#mainmenu li a {
	display:block;
	padding: 3px 10px 3px 10px;
	margin:0;
			
    border-bottom:solid 1px #fff;
	color:#87395f;
	font-weight:bold;
	text-decoration:none;
	font-family: Trebuchet MS, Verdana, Arial;
	font-size: 110%;
}
ul#mainmenu ul.submenu {
	margin:0;
	padding:0;
}
ul#mainmenu ul.submenu li {
	margin:0;
	padding:0;
	width:100%;
	
	list-style-type:none;
	border:none;
	background-image:none;
}
ul#mainmenu li ul.submenu li a {
	display:block;	
	padding: 3px 10px 3px 20px; /* Sista v�rdet �r indentering f�r undermenyposter */
	margin:0;
	
	background-image:none;
	font-weight:normal;
	color:#666;
	font-family: Trebuchet MS, Verdana, Arial;
	font-size: 110%;
	width: auto !important;
	width: 85%;
}
ul#mainmenu li a.selected, ul#mainmenu li ul.submenu li a.selected 
{
    background-color: #e7e7e7;
    color: #5B5B5B;
    font-weight: bold;
}
ul#mainmenu li.selected a, ul#mainmenu li ul.submenu li.selected a
{
    background-image: url(../img/menu_item_bullet.gif);
	background-repeat: no-repeat;
	background-position: 97% 50%;
}

/* 
    Br�dsmulesp�r 
*/
div#content div.pagelocation 
{
    margin: 0 0 2em 0;
}
div#content div.pagelocation a
{
    text-decoration:none;
    font-weight:bold;
}
div#content div.pagelocation span.current
{
	font-weight: bold;	
}

/*
    Inneh�llsstilar
*/
div#content ul, div#content ol
{
	margin: 0.3em 0 1em 20px;
	padding: 0 0 0 20px;
}
div#content ul li, div#content ol li
{
	margin-bottom: 0.3em;
}
div#content a 
{
	font-weight:normal;
	color: #01819a;
}
div#content h2
{
	margin: 1em 0 0.2em 0;
}
p.intro 
{
    font-weight: bold;
}
div#content ul.pagelist 
{
    margin: 1em 0 1em 0;
    padding: 0.3em 0; 
	background-color: #f5f5f5;
	width: 60%;
}
div#content ul.pagelist li
{
    margin:0;
    padding:4px 7px; 
    list-style-type:none;
}


/* 
    Puffar i h�gerkolumn 
*/
div#related div.panel
{
	padding-left:0;
	padding-right:0;
	margin-bottom: 1em;
}

div#related div.panel h2,
div#related div.panel h3,
div#related div.panel p,
div#related div.panel img
{
    padding-left: 10px;
    padding-right: 10px;
}
div#related div.panel div.illustration
{
    padding:0 0 5px 0;
    margin:0;
    overflow:hidden;
    width:100%;
}
div#related div.panel div.illustration img
{
    padding:0;
}
div#related div.panel ul,
div#related div.panel ol
{
    margin: 0 10px 0.5em 35px;
    padding:0;
}
div#related div.panel ul li,
div#related div.panel ol li
{
    padding: 0;
}
div#related div.panel a
{
	text-decoration: underline;	
}
div#related div.panel a:visited
{
	color: #01819a;
}
/* Nyhetssida */
div.newsitem p 
{
    margin: 0.2em 0 0.2em;
}
div.newsitem span.date
{
    color: #666;
}
div.more 
{
    text-align: right;
}
div.more a 
{
    white-space:nowrap;
    padding: 0 0 0 13px;
    
    background-image: url(/../img/more_bullet.gif);
    background-position: 0 0.4em;
    background-repeat:no-repeat;
    text-decoration:none;
}
div.more a:hover
{
    background-image: url(/../img/more_bullet_hover.gif);
    text-decoration:underline;
}

/*
	Nyhetslista
*/
div#content.tpl-news h2
{
	font-size: 120%;	
	font-family: Verdana, Trebuchet MS, Arial;
}

/*
	Startsidan
*/

div#contentstartpage.tpl-default
{
    width: 75%;
  	padding: 0 0 0 1px;
}
div#contentstartpage.tpl-default div#leftcol
{
    width: 68%;
    float: left;
    margin:0;
    padding:0;
}
div#contentstartpage.tpl-default div#related
{
    width: 31%;
    float: right;
}
div#contentstartpage.tpl-default div#leftcol div#startpagemainimage
{
	background-position: left top;
	background-repeat: no-repeat;
	height: 172px;	
	padding: 0 0 3px 30px;
	margin: 0 0 2px 0;
	border-bottom: solid 1px #EFEFEF;
	color: #fff;
}
div#contentstartpage.tpl-default div#leftcol div#startpagemainimage h1
{
	font-size: 120%;
	padding: 20px 0 0 0;
	width: 50%;
	margin: 0 0 0 0;
	font-weight: bold;
}
div#contentstartpage.tpl-default div#leftcol div#startpagemainimage h2
{
	font-size: 170%;
	padding: 0 0 0 0;
	width: 100%;
	margin:0;
}
/* 
    Puffar startsidan 
*/
div#contentstartpage.tpl-default div#leftcol div.columns 
{
    min-height: 8em;	
    background-image: url(../img/column_divider.gif);
	background-position: 50% 0;
	background-repeat: repeat-y;
	float:left;
	width: 100%;
	margin: 6px 0 0 0; 
}
div#contentstartpage.tpl-default div#leftcol div.columns div#learn 
{
    float:left;
    width:47%;
    padding: 0 0 0 6px;
}
div#contentstartpage.tpl-default div#leftcol div.columns div#process 
{
    float:right;
    width:47%;
    padding: 0 6px 0 0;    
}
div#contentstartpage.tpl-default div#leftcol div.columns h2
{
	color: #666;
	margin: 0.5em 0;
	font-size: 130%;
}
/* Puff R�ttsk�llor startsidan */
div#contentstartpage.tpl-default div#related div#entries
{
	background-position: left 0;
	background-repeat: no-repeat;
	background-image: url(../img/bgr_vinrod.jpg);	
	height: 154px;
	color: #fff;
	margin: 0;
	padding: 10px 14px 0px 18px;
}
div#contentstartpage.tpl-default div#related div#entries h2
{
	margin:0.5em 0 0.2em 0;
	padding:0;
}
div#contentstartpage.tpl-default div#related div#entries a
{
	color: #fff;
	font-weight: bold;
}
div#contentstartpage.tpl-default div#related div#entries a:active, 
div#contentstartpage.tpl-default div#related div#entries a:focus
{
	color: #4a4a4a;
}
/* 
    Nyhetslista startsidan 
*/
div#contentstartpage.tpl-default div#related div#newslist 
{
	background-color: #F5F5F5;
	padding: 2px 2px;
	
}
div#contentstartpage.tpl-default div#related div#newslist h2.newsheading 
{
	position: absolute;
	left: -900px;
	overflow: hidden;
	
	width: 0;
	font-size:1px;
	color:#fff;
	margin:0;
	padding:0;
}
div#contentstartpage.tpl-default div#related div#newslist div.newslistcompact
{
	border: solid 2px #fff;
	background-color: #F5F5F5;
	padding: 19px 12px 10px 12px;
}
div#contentstartpage.tpl-default div#related div#newslist div.newslistcompact div.newsitem
{
	margin: 0 0 1em 0;	
}
div#contentstartpage.tpl-default div#related div#newslist div.newslistcompact div.newsitem h3
{
    margin: 0;
    padding:0;
    font-size: 100%;
    font-family: Verdana, Trebuchet MS, Arial;
    
}
div#contentstartpage.tpl-default div#related div#newslist div.newslistcompact div.newsitem h3 a
{
    font-weight: bold;
    text-decoration: underline;
    color: #01819a;
}
div#contentstartpage.tpl-default div#related div#newslist div.newslistcompact div.newsitem span.date
{
    margin:0;
    padding:0;
    color: #999;
}
div#contentstartpage.tpl-default div#related div#newslist div.newslistcompact a.morenews
{
	display: block;
	margin: 0 0 1em 0;	
}
/* Sitemap */
div#content div.sitemap h2 a
{
}

/*
    L�nklista  l�nklista tv� niv�er
*/
div.links div.link 
{
    background-color: #f5f5f5;
    margin: 0 0 0.5em 0;
    padding: 10px 10px 1px 10px;
}
div.links div.link h3, 
div.links div.link h4
{
    font-weight:bold;
    font-size:1em;
    margin: 0.3em 0 0.3em 0;
    padding:3px 50px 0 0;
    clear:both;
    font-family: Verdana, Trebuchet MS, Arial;
}
div.links div.link h3.doclist, 
div.links div.link h4.doclist
{
    background-image: url(../img/doclist_icon.gif);
    background-position: right center;
    background-repeat:no-repeat;
}
div.links div.link h3.search, 
div.links div.link h4.search
{
    background-image: url(../img/search_icon.gif);
    background-position: right center;
    background-repeat:no-repeat;
}
div.links div.link h3.search.doclist, 
div.links div.link h4.search.doclist
{
    background-image: url(../img/doclist_search_icon.gif);
    background-position: right center;
    background-repeat:no-repeat;
}
div#content div.links div.link h4.remotelink, 
div#content div.links div.link h3.remotelink
{
	margin: 0;	
}
div#content div.links div.link h4.remotelink a, 
div#content div.links div.link h3.remotelink a
{
    color: #01819a;
    font-size:1em;
    font-weight: bold;
    padding: 0 0 0 17px;
    text-decoration:none;
    background-image: url(../img/extlink_bullet.gif);
    background-position: left center;
    background-repeat:no-repeat;
}
div#content div.links div.link h4.remotelink a:hover, 
div#content div.links div.link h3.remotelink a:hover,
div#content div.links div.link p.remotelink a:hover
{
	text-decoration: underline;
}
div.links div.link p
{
    clear:both;
}
div.links div.link p.remotelink:after 
{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
p.linklistintro
{
	margin: 0 0 0.5em 0;	
}

/* L�nklista kompakt */
div#content div.links ul 
{
    margin:0;
    padding:10px 10px;
    list-style-type:none;
    background-color: #f5f5f5;
}
div#content div.links ul li
{
    list-style-type:none;
    margin:0;
    padding:0;
}
div#content div.links ul li a
{
    color: #01819a;
    font-size:1em;
    font-weight:bold;
    padding: 0 0 0 17px;
    margin:0 0 2px 0;
    text-decoration:none;
    background-image: url(../img/extlink_bullet.gif);
    background-position: left 0.3em;
    background-repeat:no-repeat;
    display:block;
}
div#content div.links ul li a:hover
{
    text-decoration:underline;
}

/*
    L�nklista avancerad (widecol)
*/
div#content.tpl-linklistadvanced
{
    width: 73%;
}
div#content.tpl-linklistadvanced h2
{
    background-color:#2f6f86;
    padding: 3px 10px;
    font-size: 1.1em;
    background-image: url(../img/heading_top_shade.gif);
    background-position: left top;
    background-repeat:repeat-x;
}
div#content.tpl-linklistadvanced h2 a
{
    color:#fff;
    font-weight:bold;
    text-decoration:none; 
    padding:0;
    background-image:none;
}
div#content.tpl-linklistadvanced div.leftcol
{
    float:left;
    width:49%;
}
div#content.tpl-linklistadvanced div.rightcol
{
    float:right;
    width:49%;
}
div#content.tpl-linklistadvanced div.leftcol h3
{
	margin-top: 0;
	font-size: 1.1em;
}
div#content.tpl-linklistadvanced div.leftcol ul, div#content.tpl-linklistadvanced div.rightcol ul
{
    margin:0;
    padding:0;
    list-style-type:none;
}
div#content.tpl-linklistadvanced div.leftcol ul li, div#content.tpl-linklistadvanced div.rightcol ul li
{
    margin:0;
    padding:0 0 3px 0;
    border:solid 0px #fff;
}

div#content.tpl-linklistadvanced div.leftcol ul li a, div#content.tpl-linklistadvanced div.rightcol ul li a
{
    font-weight:bold;
    padding: 0 0 0 17px;
    margin:0;
    display:block;
    text-decoration:none;
    background-image: url(../img/extlink_bullet.gif);
    background-position: 0 0.3em;
    background-repeat:no-repeat;
}
div#content.tpl-linklistadvanced div.leftcol a:hover, div#content.tpl-linklistadvanced div.rightcol a:hover
{
    text-decoration:underline;
}

/*
    Ordlista
*/

div#content.tpl-dictionary dl dt {
    font-weight:bold;
    margin-top: 1em;
}
div#content.tpl-dictionary dl dd
{
	margin: 0 0 0 15px;
	padding: 0;
}
div#content.tpl-dictionary dl dd p
{
	padding: 0;
	margin: 0 0 3px 0;
}
div#content.tpl-dictionary dl dd p.gototoplink
{
	padding: 0;
	margin: 0.5em 0 3px 0;
}

/*
	Vanliga fr�gor och svar
*/
div#content ul.faqlistoverview
{
	margin-bottom: 2em;
}
div#content ul.faqlist
{
	margin:0 0 2em 0;
	padding:0;
}
div#content ul.faqlist li
{
	margin:0 0 1em 0;
	padding:0;	
	list-style-type: none;
}
div#content ul.faqlistoverview li
{
	margin:0 0 0.1em 0;
}
div#content ul.faqlist li span
{
	font-weight: bold;
	display:block;
}
div#content ul.faqlist li ul li
{
	margin:0 0 1em 0;
	padding:0;	
	list-style-type: disc;
}
.gototoplink
{
	text-align:right;	
}

/*
	Alfabetisk lista
*/
div#content ul#alphalist
{
	margin: 0 0 0.5em 0;
	padding:0;
	list-style-type: none;
}
div#content ul#alphalist li
{
	margin: 0 0.15em 0 0;
	padding:0;
	list-style-type: none;
	display:inline;
	color: #A4A5A8;
}
div#content ul#alphalist li a
{
	margin:0;
	padding:0;	
	font-weight: bold;
}

/*
	Imagemap l�nklista
*/
div#content.tpl-imagemap
{
    width: 73%;
}
div#content.tpl-imagemap img
{
	margin: 2em 0;
}
div#content.tpl-imagemap ul.imagemaplinklist
{
	margin:0 0 2em 0;
	padding:0;
}
div#content.tpl-imagemap ul.imagemaplinklist li
{
	margin:0 0 1em 0;
	padding:0;	
	list-style-type: none;
}
div#content.tpl-imagemap ul.imagemaplinklist li span
{
	font-weight: bold;
	display:block;
}

/* Extern l�nk */
a.remotelink
{
	color: #01819a;
    font-size:1em;
    font-weight:bold;
    padding: 0 0 0 17px;
    text-decoration:none;
    background-image: url(../img/extlink_bullet.gif);
    background-position: left 0.3em;
    background-repeat:no-repeat;
}
a.remotelink:hover
{
	text-decoration: underline;
}

/* Stil f�r att markera aktiva formul�relement vid t ex tabbning genom formul�r. L�t ligga sist i denna css. */
input:focus, input:active, a:focus, a:active, select:focus, select:active, textarea:focus, textarea:active
{
    background-color: #c8c8c8;/*#EAF3F6;*/
    color: #000;
}

.rsslink
{
    text-decoration:underline;
    color: #01819a;
    vertical-align:middle;
}
.rsslink img
{
	float:left;
	padding: 0 8px 0 0;
    margin: 0;
}