
body {
    font-family: helvetica, arial, sans-serif;
    font-size: small;
}

dl dt {
    font-style: italic;
}

table {
    width: 72em;
    margin-bottom: 1.6em;
}

thead th {
    background-color: #ccc;
}

table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
}

tr.group td {
    border-top-width: 4px;
}

th.tc {
    /** /
    width: 40%; /**/
}

td.tc {
    background-color: #eef;
}

tr.sep {
    background-color: #eee;
}

tr.sep td {
    border: 0;
}

.bot {
    color: brown;
}

.act {
    color: blue;
}

.arg {
    font-family: courier;
    color: green;
    white-space: pre;
}

.def {
    font-family: courier;
    color: brown;
}

.key {
    font-style: italic;
}

.src {
    font-family: courier;
}

