/*
 *  Stylesheet for PDF versions of documentation artifacts.
 *
 */

@page {
    size: A4;
    /* margin: 3cm 1cm 3cm 1cm; */
    margin-top: 3.32cm;
    margin-bottom: 2.5cm;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    color: #000000;

    background-color: transparent;

    @top-left-corner {
        content: element(header);
    }

    @top-right-corner {
        content: element(pagemeta);
    }
}

@media screen {
    html {
        background-color: #777;
    }
    body {
        background-color: #fff;
        width: 34em;
        position: relative;
        left: 50%;
        margin: 0 0 0 -22em !important;
        padding: 0 2.5cm 1cm 3cm;
        border: 0 solid black;
        border-width: 0 1px 0 1px;
    }
    div#pagemeta {
        position: absolute !important;
        top: 0.5cm;
        right: 0;
    }
    #pagenumber {
        visibility: hidden;
    }
}

@media print {
    a {
        color: black;
        text-decoration: none;
        border-bottom: 0.3pt dotted black;
    }
}

body {
    font-family: Garamond, "Times New Roman", serif;
    font-size: 12pt;
    margin-left: 4.4cm;
    margin-right: 3.32cm;
}

div#header {
    position: running(header);
}

div#header img.logo {
    width:5cm;
    margin-top: 1cm;
    margin-left: 1cm;
}

div#toc {
    page-break-after: always;
    page-break-before: always;
}

div#frontpage {
    padding-top: 4cm;
    page-break-after: always;
}

div#frontpage h1 {
    border-bottom: 0.5pt solid black;
}

div.changes {
    margin-top: 1cm;
    margin-bottom: 1cm;
}

table.changes, table.changes td, table.changes th {
    border: solid 0.5pt #999999;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 9pt;
}

table.changes td, table.changes th {
    vertical-align: top;
    padding: 0.1cm;
}

table.changes caption {
    font-weight:bold;
    text-align:left;
}

div#pagemeta {
    position: running(pagemeta);
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 9pt;
    margin-right: 1cm;
    margin-left: -5cm;
}

div#pagemeta p {
    text-align:right;
    margin-right: 1cm;
}

div#pagemeta table tr td {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 9pt;
    padding: 0;
    margin: 0;
    text-align:left;
    line-height: 100%;
}

div#pagemeta table tr th {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 5pt;
    padding: 0;
    margin: 0;
    text-align:left;
    line-height: 100%;
}

div#pagemeta table {
    width: 4cm;
    background-color: #e6e6e6;
    margin-right: 1cm;
    padding: 0;
}

#pagenumber:before {
    content: counter(page) "(" counter(pages) ")";
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

s,
strike {
    text-decoration: line-through;
}

ins {
    color: green;
    text-decoration: underline;
}
del {
    color: red;
    text-decoration: line-through;
}

pre,
code,
kbd,
samp,
tt {
    font-family: "Courier New", monospace, sans-serif;
    font-size: small;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight:bold;
    font-family:"Trebuchet MS", Arial, sans-serif;
}

h1 {
    line-height: 120%;
    font-size:15pt;
    margin-top: 21pt;
    margin-bottom: 6pt;
}

h2 {
    font-size:13pt;
    margin-top: 15pt;
    margin-bottom: 2pt;
}

h3 {
    font-size:11.5pt;
    margin-top:11pt;
    margin-bottom: 6pt;
}

h4 {
    font-family: Garamond, serif;
    font-size:11.7pt;
    margin-bottom: 6pt;
}

hr {
    margin:1em 0;
}

table {
}

table caption {
    font-size: 13pt;
    padding-top: 1.5em;
    text-align: center;
    font-style: italic;
}

tr,
th,
td {
    vertical-align: middle;
    width: auto;
}

th {
    text-align: left;
    font-weight: bold;
    padding-right: 0.6em;
}

center {
    text-align: center;
}

big {
    font-size: 125%;
}

small {
    font-size: 75%;
}

p {
    margin-top: 4pt;
    margin-bottom: 7pt;
}

ul {
    list-style-type: disc;
}

ul li, ol li {
    font-family: Garamond, serif;
    margin-bottom: 4pt;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
    margin-left: 1.5em;
}

pre {
    white-space: pre;
    line-height: 110%;
}

blockquote {
    margin-left: 1.5em;
    margin-right: 1.5em;
}




table.docinfo {
    background-color: #e6e6e6;
    width: 6cm;
    border: solid 1px #000000;
}

table.docinfo tr th {
    width: 3cm;
    font-size: 5pt;
    font-family: "Trebuchet MS", sans-serif;
    text-align:left;
}

table.docinfo tr td {
    width: 3cm;
}


.classInfo table {
    border: solid 0.3pt #000000;
    border-collapse: collapse;
    width: 100%;
}

.classInfo table th {
    padding: 0.1em 0.3em;
    text-align:left;
    font-weight: bold;
}

.classInfo table td {
    padding: 0.1em 0.3em;
    vertical-align: top;
    border: solid 0.3pt #000000;
    font-family: Garamond, serif;
}

.classInfo table td p {
    margin: 0 0 0.5em 0;
}

.classInfo table th .warning {
    font-size: 0.8em;
    color: #f00;
}

.classInfo table th .note {
    font-size: 0.8em;
    color: #00f;
}

.classInfo table td dt {
    font-weight: bold;
}

.classInfo table td dd {
    margin: 0 0 1em 1em;
}

/* needed since ontology.css isn't used for styling the handbooks, even though they include parts of model.xhtml */
.propdef {
    font-size: small; /*or the table gets too wide for properties like Publikationsplatsangivelse */
    vertical-align: top;
}

.pagebreakbefore {
    page-break-before: always;
}

div.chapter {
    page-break-before: always;
}

div.appendix {
    page-break-before: always;
    overflow: visible;
    margin-left: -2cm;
    margin-right: -2cm;
}

.syntax {
    font-size: 8pt;
}

div.alert {
    border: solid 1pt #f00;
    padding: 4pt 4pt 0 4pt;
    /*
    margin-left: -1.5cm;
    margin-right: -1.5cm;
    */
}

dl.tech {
    font-size: 0.9em;
}

dl.tech dd code {
    font-size: 0.7em;
}
dl.tech dd {
    margin:0;
    padding:0;
}

table.border td {
    border: 0.3pt solid #000000;
    border-collapse: collapse;
    margin: 0;
}

/* uri/coin-scheme styles */

#baseuri {
    font-weight: bold;
}

.cointemplate {
    border: 0.8pt dashed #777;
    padding: 0.6em 0.6em;
    margin-bottom: 1.2em;
}

.cointemplate h4 {
    margin: 0.3em 0 0.2em;
}

.uriTemplate, .fragmentTemplate {
    font-size: 0.98em;
    font-weight: bold;
}

table.variables {
    margin-top: 0.3em;
    border: none;
    overflow: auto;
}

table.variables th {
    font-weight: normal;
    font-style: italic;
}

table.variables td {
    padding: 0.2em 1em 0.2em 0em;
}


table.slugs {
    border-spacing: 0;
    font-size: 0.9em;
    width: 100%;
}

table.slugs th.col-symbol {
    width: 3.1em;
}

table.slugs td {
    padding: 0.1em 0.5em 0.1em 0.1em;
}

table.slugs code.uri {
    font-size: 0.86em;
}

table.slugs tr.even {
    background-color: #e6e6e6;
}

p.rel-rule {
    font-style: italic;
}
