
body {
    font-family: helvetica, verdana, arial, sans-serif;
    font-size: 9pt;
    padding: 0 40pt 0 40pt;
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#ddd));
    background: -moz-linear-gradient(left, #fff, #ddd);
}

h1 {
    font-size: 18pt;
    margin: 12pt 0 6pt;
}

h2 {
    font-size: 16pt;
    margin: 8pt 0 6pt;
}

h3 {
    font-size: 14pt;
    margin: 8pt 0 6pt;
}

h4 {
    font-size: 12pt;
    margin: 8pt 0 6pt;
}

dl, dt, dd {
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;
    padding: 0;
    overflow: visible;
    zoom: 1;
}

dl {
    margin: 0 0 1em 0;
}

dl.lone {
    margin: 0;
}

dl.summary {
    background-color: #eee;
    border: 0.8pt solid #000000;
    padding: 4pt;
    width: 36em;
    -moz-border-radius: 4pt;
    -webkit-border-radius: 4pt;
}

div.filter {
    background-color: #eee;
    border: 0.8pt solid #000000;
    padding: 4pt;
    -moz-border-radius: 4pt;
    -webkit-border-radius: 4pt;
}

dt {
    clear: left;
    float: left;
    font-weight: bold;
    margin-right: 0.4em;
}

dd {
    margin-left: 0.4em;
}

dt.error,
dd.error {
    color: #f00;
}

dt.success,
dd.success {
    color: #5AB109;
}

table {
    background-color: #eee;
    border: solid 0.8pt #000000;
    border-collapse: collapse;
    width: 100%;
}

table th {
    padding: 0.1em 0.3em 0.1em 0.4em;
    text-align: left;
    font-weight: bold;
}

table td {
    padding: 0.1em 0.3em;
    vertical-align: top;
    border: solid 0.8pt #000000;
}

th.position,
td.position {
    background-color: #eee;
    font-style: italic;
    text-align: center;
    width: 1%;
}

td.position {
    text-align: right;
}

th.dateTime,
td.dateTime {
    width: 10%;
}

th.status,
td.status {
    width: 12%;
}

th.uri,
td.uri {
    width: 25%;
}

th.info,
td.info {
    width: 52%;
}

tr.entry {
    background-color: #afa;
}

tr.error {
    background-color: #f66;
}

.status {
    font-weight: bold;
}

.error .status {
    font-style: italic;
}